<h1> <%=@story.title%> </h1>

<ul>

    <%@story.tweets.each do |tweet| %>

    <li>
        <%=tweet.text%>
    </li>

    <%end%>

</ul>


<%= link_to "back", user_path(current_user) %><br>

<% if @story.user_id == current_user %>
  <%= link_to "delete story", story_path(@story), method: :delete %>
<% end %>
